body{
    
}

div#wrapper{
    margin: 0 auto;
    width: 1000px;
}

#movie_image{
    float: left;
}

div#movie_info_box{
    float: left;
    width: 800px;
    overflow-y: scroll;
    height: 100%;
}

div.clearer{
    clear:both;
}

#view_controls{
    float: right;
}

#view_controls ul li{
    display: inline;
}

table.movie_table{
    width: 100%;
}

table.movie_table tr.tr_image{
    
}

table.movie_table tr:nth-child(even){
    background: lightgray;
}

table.movie_table .tr_item td.title{
    padding: 0 10px;
}
table.movie_table .tr_item td.content{
    width: 100%;
}

.img_wrapper{
    position: relative;
}

.movie_btn{
    display: none;
    position: absolute;
    bottom: 10px;
    width: 140px;
    text-align: center;
}

.button_link{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: black;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 4px 10px;
}