body{
    font-family: Arial;
    height: 100%;
    overflow: hidden;
}

div#wrapper{
    height: 100%;
    margin: 0 auto;
    width: 100%;
    /*    overflow: auto;    */
}

div#top_box{
    height: 85px;
    position: relative;
}

#movie_form_box{
    position: absolute;
    top: 20px;
    left: 20px;
}

#movie_image{
    float: left;
}

div#movie_info_box{
    /*    float: left;*/
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
    border-top: 1px solid #999;
}


div.clearer{
    clear:both;
}

#page_controls{
    position: absolute;
    top: 20px;
    right: 108px;
}

#page_controls ul li{
    float: left;
    border-right: 1px solid #eee;
    font-size: 12px;
    text-align: center;
}

#page_controls ul li a{
    text-decoration: none;
    padding: 5px 0px 4px 0px;
    color: #FFF;
    display: block;
    background: #999;
    height: 100%;
    width: 30px;
}

#page_controls ul li a:hover{
    background: #EEE;
    color: #000;
}

#view_controls{
    position: absolute;
    top: 20px;
    right: 20px;
}

#view_controls ul li{
    display: block;
    float: left;
    width: 20px;
    height: 7px;
    background: #999;
    padding: 7px 0 7px 7px;
    border-right: 1px solid #EEE;
    text-indent: -9999px;
}

#view_controls ul li a#list{
    background: url('http://dev.ambooth.com/assets/img/movie_list_sprites.png') no-repeat;
    height: 8px;
    width: 14px;
    display: block;
}

#view_controls ul li a#list:hover{
    background: url('http://dev.ambooth.com/assets/img/movie_list_sprites.png') 0px -7px no-repeat;
    height: 8px;
    width: 14px;
    display: block;
    text-indent: -9999px;
}

#view_controls ul li a#albumlist{
    background: url('http://dev.ambooth.com/assets/img/movie_list_sprites.png') -13px 0px no-repeat;
    height: 8px;
    width: 14px;
    display: block;
    text-indent: -9999px;
}

#view_controls ul li a#albumlist:hover{
    background: url('http://dev.ambooth.com/assets/img/movie_list_sprites.png') -13px -7px no-repeat;
    height: 8px;
    width: 14px;
    display: block;
    text-indent: -9999px;
}

#view_controls ul li a#grid{
    background: url('http://dev.ambooth.com/assets/img/movie_list_sprites.png') -28px 0px no-repeat;
    height: 8px;
    width: 14px;
    display: block;
    text-indent: -9999px;
}

#view_controls ul li a#grid:hover{
    background: url('http://dev.ambooth.com/assets/img/movie_list_sprites.png') -28px -7px no-repeat;
    height: 8px;
    width: 14px;
    display: block;
    text-indent: -9999px;
}

div.movie_item{
    position: relative;
    height: 187px;
    border-bottom: 3px solid #eef;
    /*    padding: 5px 10px 10px 160px;*/
}

div.movie_item.odd{
    background: #F3F6FA;
}

.img_wrapper{
    left:0;
    top:0;
    height: 200px;
    position: absolute !important;
    border: 1px solid #000;
    width: 145px;
}


div.movie_meta{
    width: 100%;
    float: left;
}

span.header{
    float:left;
    width: 100px;
    font-weight: bold;
}

div.movie_meta .content{
    float:left;
}

#movie_head{
    display: none;
    height: 35px;
    background: #FAFAFA;
    width: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 0;

}

.movie_head_item{
    /*    float: left;*/
    display: inline;
    text-align: center;
    font-size: 15px;
    border-right: 1px solid #999;
}

.movie_head_item a{
    background: #FAFAFA;
    display: block;
    padding: 10px 10px 10px 0;
    text-decoration: none;
    color: #000;
}

.movie_head_item a:hover{
    background: #D6DAE0;
}

.movie_btn{
    display: none;
    position: absolute;
    bottom: 10px;
    width: 140px;
    text-align: center;
}

.button_link{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: black;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 4px 10px;
}
